<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{common/layout :: layout(~{::title}, ~{::link} ,~{::section}, false)}">
<head>
    <meta charset="UTF-8">
    <title>모지모지</title>
    <link href="/css/style/index.css" rel="stylesheet">
    <link href="/css/style/category.css" rel="stylesheet">
    <link href="/css/style/product.css" rel="stylesheet">
</head>
<body>
<section>
<div class="product-form-wrapper">
    <form class="product-form" method="post" enctype="multipart/form-data">
        <div class="error-message" id="error-error" style="display: none"></div>
        <div class="category">
            <div>
                <select id="majorCategory">
                    <option value="">대분류 선택</option>
                </select>
            </div>
            <div>
                <select id="mediumCategory">
                    <option value="">중분류 선택</option>
                </select>
            </div>
        </div>
        <div>
            <label for="prodName" class="form-label">상품명</label>
            <input type="text" id="prodName" class="form-control" name="prodName">
            <div class="error-message" id="prodName-error" style="display: none"></div>
        </div>
        <div>
            <label for="description" class="form-label">상품설명</label>
            <textarea id="description" class="form-control" name="description"></textarea>
            <div class="error-message" id="description-error" style="display: none"></div>
        </div>
        <div>
            <label for="prodPrice" class="form-label">상품가격</label>
            <input type="text" id="prodPrice" class="form-control" name="prodPrice">
            <div class="error-message" id="prodPrice-error" style="display: none"></div>
        </div>
        <div>
            <label for="stockQuantity" class="form-label">상품수량</label>
            <input type="text" id="stockQuantity" class="form-control" name="stockQuantity">
            <div class="error-message" id="stockQuantity-error" style="display: none"></div>
        </div>
        <div>
            <label for="files" class="form-label">상품 이미지</label>
            <input type="file" id="files" class="form-control" name="files" accept="image/*" multiple>
            <div class="error-message" id="files-error" style="display: none"></div>
        </div>
        <div id="image-preview-container"></div>
    </form>
</div>
<div class="action-buttons">
    <a href="/" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-primary" id="btn-save">등록</button>
</div>
<script src="/js/app/category.js"></script>
<script src="/js/app/product.js"></script>
</section>
</body>
</html>