<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{common/layout :: layout(~{::title}, ~{::link} ,~{::section}, false)}">
<head>
    <link href="/css/style/index.css" rel="stylesheet">
    <link href="/css/style/profile.css" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
<section>
    <div class="member-profile">
        <div class="container my-3 signup-container">
            <form class="signup-form" id="signup" method="post" enctype="multipart/form-data" autocomplete="off">
                <div>
                    <img src="/images/anonymous.png" class="profile-img" data-src="/images/anonymous.png">
                    <div id="update-img">등록</div>
                    <input type="file" id="file-input" name="profileImage" class="form-control">
                </div>
                <div>
                    <label for="username" class="form-label">사용자 ID</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="아이디"
                           autocomplete="on">
                    <div class="error-message" id="username-error" style="display: none;"></div>
                </div>

                <div>
                    <label for="password" class="form-label">비밀번호</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호">
                    <div class="error-message" id="password-error" style="display: none;"></div>
                </div>
                <div>
                    <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                           placeholder="비밀번호 확인">
                    <div class="error-message" id="confirmPassword-error" style="display: none;"></div>
                </div>
                <div>
                    <label for="nickname" class="form-label">닉네임</label>
                    <input type="text" id="nickname" name="nickname" class="form-control" placeholder="닉네임"
                           autocomplete="on">
                    <div class="error-message" id="nickname-error" style="display: none;"></div>
                </div>
                <div>
                    <div>
                        <label for="email" class="form-label">이메일</label>
                        <input type="email" id="email" name="email" class="form-control email" placeholder="이메일"
                               autocomplete="on">
                        <div class="error-message" id="email-error" style="display: none;"></div>
                    </div>
                    <div class="col-4 d-flex align-items-end">
                        <button class="btn btn-secondary emailValidateBtn" th:data-action="signup" type="button">인증번호 받기</button>
                    </div>
                </div>
                <div class="mb-3" id="verificationCodeDiv" style="display:none;">
                    <div class="row">
                        <div class="col-8">
                            <label class="form-label" th:for="verificationCode">인증번호</label>
                            <input class="form-control verificationCode" id="signup-verificationCode" placeholder="인증번호"
                                   type="text">
                            <div class="error-message" id="verificationCode-error" style="display: none"></div>
                        </div>
                        <div class="col-4 d-flex align-items-end">
                            <button class="btn btn-secondary" id="checkVerificationCode" type="button">확인</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <label for="mobile" class="form-label">휴대전화</label>
                    <input type="text" class="form-control" id="mobile" placeholder="- 제외하고 입력해주세요.">
                </div>
                <div>
                    <label class="form-label">역할 선택</label>
                    <div>
                        <input type="radio" id="buyer" name="role" value="BUYER">
                        <label for="buyer">구매자</label>
                    </div>
                    <div>
                        <input type="radio" id="seller" name="role" value="SELLER">
                        <label for="seller">판매자</label>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="btn-signup">회원가입</button>
            </form>
        </div>
    </div>
    <script type="module" src="/js/app/member.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</section>
</body>
</html>