<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{common/layout :: layout(~{::title}, ~{::link} ,~{::section}, false)}">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link href="/css/style/modifyPw.css" rel="stylesheet">
</head>
<body>
<section>
    <div class="main">
        <div class="modify-pw">
            <div>
                <h4 class="mb-3">변경하실 비밀번호를 입력해 주세요.</h4>
            </div>
            <div>
                <form id="passwordForm">
                    <input type="text" class="username" th:value="${username}">
                    <!-- 현재 비밀번호 -->
                    <div class="col-12">
                        <label for="modal-current-pass" class="col-form-label">현재 비밀번호:</label>
                        <input type="password" class="form-control currentPassword" id="modal-current-pass">
                        <div class="error-message" id="invalidCurrentPassword-error" style="display: none;"></div>
                    </div>

                    <!-- 신규 비밀번호 -->
                    <div class="col-12 pw-mg">
                        <label for="newPassword" class="col-form-label">신규 비밀번호:</label>
                        <input type="password" class="form-control" id="newPassword">
                        <div class="error-message" id="sameAsOld-error" style="display: none;"></div>
                        <div class="error-message" id="newPassword-error" style="display: none;"></div>
                    </div>

                    <!-- 신규 비밀번호 확인 -->
                    <div class="col-12 pw-mg">
                        <label for="modal-confirm-pass" class="col-form-label">신규 비밀번호 확인:</label>
                        <input type="password" class="form-control" id="modal-confirm-pass">
                        <div class="error-message" id="NotMatchPassword-error" style="display: none;"></div>
                    </div>
                    <button type="submit" class="w-100 btn btn-primary btn-lg">비밀번호 변경</button>
                </form>
            </div>
        </div>
    </div>
    <script type="module" src="/js/app/user.js"></script>
</section>
</body>
</html>