<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{common/layout :: layout(~{::title}, ~{::link} ,~{::section}, false)}">
<head>
    <link href="/css/style/index.css" rel="stylesheet">
    <title>로그인</title>
</head>
<body>
<section>
    <div class="container my-3 login-container">
        <div class="my-3">
            <form class="login-form" th:action="@{/user/login}" method="post">
                <a class="nav-header" href="/"><h1>모지히의 이게모지</h1></a>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자 ID 또는 비밀번호를 확인해주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" th:for="id">사용자 ID</label>
                    <input class="form-control" name="username" placeholder="아이디를 입력하세요" type="text">
                </div>
                <div class="mb-3">
                    <label class="form-label" th:for="password">비밀번호</label>
                    <input class="form-control" name="password" placeholder="비밀번호를 입력하세요" type="password">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" id="remember-me" name="remember-me"/>
                    <label class="form-check-label" for="remember-me">자동 로그인</label>
                </div>
                <button class="btn btn-primary" type="submit">로그인</button>
                <ul class="find-wrap" id="find-wrap">
                    <li><a class="find-text" href="/user/find/password">비밀번호 찾기</a></li>
                    <li><a class="find-text" href="/user/find/username">아이디 찾기</a></li>
                    <li><a class="find-text" href="/user/signup">회원가입</a></li>
                </ul>
                <sec:remember-me/>
            </form>
        </div>
    </div>
</section>
</body>
</html>