<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="/css/style/index.css" rel="stylesheet">
    <link href="/css/style/product.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2 class="mb-4">장바구니</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">선택</th>
            <th scope="col">사진</th>
            <th scope="col">상품명</th>
            <th scope="col">수량</th>
            <th scope="col">상품 금액</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody>
        <!-- 서버에서 받은 상품 데이터로 반복 -->
        <tr th:each="myItem : ${myItems}" th:data-product-id="${myItem.productId}" class="stockContainer">
            <td><input type="checkbox"></td>
            <td><img th:src="${myItem.storedUrl}" alt="상품 이미지" class="img-thumbnail" style="width: 60px; height: 60px;"></td>
            <td th:text="${myItem.prodName}">상품명</td>
            <td>
                <button class="btn btn-secondary btn-sm increase-btn">+</button>
                <span class="quantity" th:data-current-quantity="${myItem.totalQuantity}" th:text="${myItem.totalQuantity}"></span>
                <button class="btn btn-secondary btn-sm decrease-btn">-</button>
                <button class="change-stock">변경</button>
            </td>
            <td class="price">가격: <span class="formattedPrice" th:text="${myItem.totalPrice}"></span>원</td>
            <td><button class="btn btn-danger btn-sm">삭제</button></td>
        </tr>
        <!-- 상품 데이터 반복 끝 -->
        </tbody>
    </table>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <button class="btn btn-primary">선택 제거하기</button>
        <div>
            <span class="font-weight-bold mr-2" id="totalPrice">Total</span>
        </div>
        <button class="btn btn-success">주문하기</button>
    </div>
</div>

<script src="/js/app/cart.js"></script>
<script src="/js/app/product.js"></script>
</body>
</html>