<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      th:replace="~{common/layout :: layout(~{::title}, ~{::link} ,~{::section}, true)}">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link href="/css/style/index.css" rel="stylesheet">
    <link href="/css/style/product.css" rel="stylesheet">
    <link href="/css/style/cart.css" rel="stylesheet">
</head>
<body>
<section>
    <div>
        <div class="container mt-4">
            <h2 class="mb-4">장바구니</h2>
            <form id="order-form" th:action="@{/order/detail}" method="post">
                <input type="hidden" name="memberId" th:value="${loggedUser.memberId}">
                <table class="table">
                    <thead th:if="${emptyCartMessage}" class="alert alert-warning text-center" role="alert">
                    <tr>
                        <th colspan="6" th:text="${emptyCartMessage}"></th>
                    </tr>
                    </thead>
                    <thead th:unless="${emptyCartMessage}">
                    <tr>
                        <th scope="col">선택</th>
                        <th scope="col">사진</th>
                        <th scope="col">상품명</th>
                        <th scope="col">수량</th>
                        <th scope="col">상품 금액</th>
                        <th scope="col">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 서버에서 받은 상품 데이터로 반복 -->
                    <tr th:each="myItem : ${myItems}" th:data-product-id="${myItem.productId}"
                        th:data-member-id="${myItem.memberId}"
                        th:data-product-name="${myItem.prodName}"
                        th:data-quantity="${myItem.totalQuantity}"
                        th:data-price="${myItem.totalPrice}" class="stockContainer">
                        <td>
                            <input type="checkbox" th:value="${myItem.productId}" th:name="'productIds'" th:data-cart-item-id="${myItem.cartItemId}">
                        </td>
                        <td><img th:src="${myItem.storedUrl}" alt="상품 이미지" class="img-thumbnail"
                                 style="width: 60px; height: 60px;"></td>
                        <td th:text="${myItem.prodName}">상품명</td>
                        <td>
                            <button class="btn btn-secondary btn-sm increase-btn" th:data-count="1">+</button>
                            <span class="quantity" th:text="${myItem.totalQuantity}"></span>
                            <input type="hidden" th:name="'quantity_' + ${myItem.productId}" th:value="${myItem.totalQuantity}">
                            <button class="btn btn-secondary btn-sm decrease-btn" th:data-count="-1">-</button>
                            <button class="change-stock">변경</button>
                        </td>
                        <td class="price">가격: <span class="formattedPrice" th:text="${myItem.totalPrice}"></span>원
                        <input type="hidden" th:name="'price_' + ${myItem.productId}" th:value="${myItem.totalPrice}">
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm delete-cart-item-btn"
                                    th:data-cart-item-id="${myItem.cartItemId}">삭제
                            </button>
                        </td>
                    </tr>
                    <!-- 상품 데이터 반복 끝 -->
                    </tbody>
                </table>
                <div class="d-flex justify-content-between align-items-center mt-4">
                    <button class="btn btn-primary" id="btn-delete-selected">선택 제거하기</button>
                    <div>
                        <span class="font-weight-bold mr-2" id="totalPrice">Total</span>
                    </div>
                    <button type="submit" id="btn-cart-order" class="btn btn-success">주문하기</button>
                </div>
            </form>
        </div>
    </div>
    <script type="module" src="/js/app/cart.js"></script>
    <script src="/js/app/product.js"></script>
</section>
</body>
</html>