<!DOCTYPE html>
<html lang="en"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/layout :: layout(~{::title}, ~{::link} ,~{::section}, true)}">

<head>
    <title>메인화면</title>
    <link href="/css/style/index.css" rel="stylesheet">
    <link href="/css/style/category.css" rel="stylesheet">
</head>
<body>
<section>
    <a href="/product" role="button" class="btn btn-primary">상품등록</a>
    <div class="d-flex justify-content-end">
        <select id="searchType" onchange="changeSearchType()">
            <option value="productName">상품명</option>
            <option value="seller">판매자</option>
            <option value="priceRange">가격대별</option>
        </select>

        <!-- 동적으로 변화할 검색 필드 -->
        <div id="searchField">
            <!-- 초기 상태로 상품명 검색 필드를 표시 -->
            상품명: <input type="text" id="productName"/>
        </div>

        <!-- 가격대별 검색 필드, 초기에는 숨김 처리 -->
        <div id="priceRangeInputs" style="display: none;">
            <input type="number" id="startPrice" placeholder="0"> ~
            <input type="number" id="endPrice" placeholder="999,999,999">
        </div>

        <!-- 검색 버튼 -->
        <button id="searchButton">검색</button>
    </div>
    <div id="categoryList"></div>

</div>
<div id="productList" class="container"></div>
<div id="pagination-parent"></div>

<script src="/js/app/index.js"></script>
</section>
</body>
</html>